
<form class="" action="<%= post_comments_url(comment.post_id) %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="comment[parent_id]" value="<%= comment.id %>">

  <label for="content">Content:</label><br>
  <textarea id="content" name="comment[content]" rows="4" cols="40"></textarea><br>

  <input type="submit" name="" value="Add comment">

</form>

<% all_comments[comment.id].each do |child_comment| %>
  <ul><h4>User: <%= child_comment.author.username %></h4>

  <p>Score: <%= comment.votes.sum(:value) %></p>
  <%= button_to "Upvote", comment_upvote_url(comment), method: :post %>
  <%= button_to "Downvote", comment_downvote_url(comment), method: :post %>

  <p><%= child_comment.content %></p>
  <p>Posted at:<%= child_comment.created_at %></p>
  <%= render "layouts/comment", comment: child_comment, all_comments: all_comments %></ul>
<% end %>
